* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  text-decoration: none; 
}

body{
  background-color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*LINKS */

a{
	text-decoration: none;
  
}

a:link, a:visited{
	color:#ffffff;
  
}

a:hover{
	color:#782aac;
	background: black;
  background-position: right bottom;
 
}
/*HEADER*/

header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.logo-menu{
height: 50px;
margin: 6px;
}

nav{ 
display: flex;
gap: 35px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-item{
color: black;
font-size: 18px;
}

/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #782aac;
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: white;
  padding: 6px 10px;
  text-decoration: none;
  display: block;
}

.show {display:block;}

/*MAIN*/

main{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

#titulo{
  font-size: 40px;
  color: #eb6d59;
  padding-top: 20px;
}

.tiposLogin{
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0.4px solid #2e2e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#opcao{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


button:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  color: #ffffff;
} 

.ir{
  background-color: #782aac;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EB6D59", endColorstr="#F24389", GradientType=1 );
  width: 390px;
  height: 45px;
  border: none;
  border-radius: 40px;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
}

#logar{
  background: hsla(8, 78%, 64%, 1);
  background: linear-gradient(360deg, hsla(8, 78%, 64%, 1) 0%, hsla(336, 87%, 61%, 1) 23%, hsla(276, 61%, 42%, 1) 59%, hsla(273, 7%, 25%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EB6D59", endColorstr="#F24389", GradientType=1 );
  width: 390px;
  height: 45px;
  border: none;
  border-radius: 40px;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
}


/* FORM */

form{
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

fieldset{
  border: none;
  display: flex;
  flex-direction: column;
}

.campo{
  color:white;
  display: flex;
  flex-direction: column;
}

input{
  background-color: black;
  color: #ffffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 45px;
  font-size: 15px;
  border: 00.4px solid #782aac;
  border-radius: 20px;
  margin: 15px;
  padding-left: 8px;
}

.campo1{
  color:white;
  display: flex;
  margin: 10px;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


#principal{
  background-color: #0d0d0d;
  text-align: center;
  width: 500px;
  border-radius: 30px;
  padding-bottom: 10px;
}

label{
  text-align:left;
  margin-left: 20px;
}

#teste{
  margin-top: 60px;
}