* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
}

body{
  background-color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*LINKS */

a{
    text-decoration: none;
  
}

a:link, a:visited{
    color:#ffffff;
  
}

a:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    color: #ffffff;
    color:#4f4f4f;
    background-position: right bottom;
 
}

/*HEADER*/

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.logo-menu{
  height: 50px;
  margin: 6px;
}

nav{ 
  display: flex;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  gap: 8px;
}

.menu-item{
  color: black;
  font-size: 15px;
}

.venus-item{
    background-color: #782aac;
    border-radius: 40px;
    width: 130px;
    height: 25px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias-item{
    background-color: #4f4f4f;
    border-radius: 40px;
    width: 100px;
    height: 25px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dropdown Button */
.dropbtn:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    color: #ffffff;
}


.dropbtn {
    background-color: #782aac;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 40px;
    width: 130px;
    height: 24px;
}
  
  .dropdown {
    position: relative;
    display: inline-block;
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #171717;
    z-index: 1;
    border-radius: 10px;
}
  
  .dropdown-content a {
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
}

  .show {display:block;}

  
  /* PESQUISA ------------------------------------------------------------------------------*/
  
  .barraPesquisa{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 305px;
    height: 25px;
    border-radius: 40px;
    gap: 35px;
}

#pesquise{
    border: none;
    background: #ffffff;
    outline: none;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}

.lupa{
    display: flex;
    width: 18px;
    margin-left: 0px;
    text-align: right;
    margin-left: 20px;
}



main{
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#principal{
    flex-direction: column;
}

.feed{
    margin-bottom: 2em;
    display: flex;
    gap: 25px;
    text-align: left;
}

h1{
    font-weight: 2000;
    font-size: x-large;
}

h2{
    font-weight: 2500;
    font-size: xx-large;
    color: #eb6d59;
    margin-bottom:30px;
}

h3{
    color: #4f4f4f;
    text-align: right;
}

/*POSTS*/

#post{ 
    border-radius: 10px;
    color: #ffffff;
    width: 700px;
    border-spacing: 0px;
    margin-bottom: 2em;
    background-color: #090909;
}

th{
    display: flex;
    flex-direction:row;
}

tr{
    display: flex;
    gap: 20px;
    margin: 20px;
}

.primeira-linha{
    gap: 10px;
    justify-content: left;
    column-span: 3;
    margin-left: 30px;
}

.nome-user{
    word-wrap: break-word;
}

.nomeProduto{
    color: #4f4f4f;
    margin-left: 10px;
}

.textoPropaganda{
    padding-bottom: 5px;
    margin-left: 10px;
    color: #eb6d59;
}

.textoOpiniao{
    color: #ffffff;
    margin-left: 10px;
}

.caracteristicas{
    color: #4f4f4f;
    margin-left: 10px;
    text-align: center;
}

td{
    display: flex;
    flex-direction: row;
    gap: 10px;
    word-wrap: break-word;
    text-align: left;
    width: 100%;
}


/*BUTTOMS*/

.cadastreReclamacao{
    background-color: #782aac;
    color: #ffffff;
    width: 150px;
    height: 25px;
    border-radius: 40px;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    cursor: pointer;
}

.categoriasButton{
    background-color: #4f4f4f;
    color: #ffffff;
    width: 100px;
    height: 25px;
    border-radius: 40px;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    cursor: pointer;
}

.categoriasButtonEnfase{
    background-color: #eb6d59;
    color: #ffffff;
    width: 100px;
    height: 25px;
    border-radius: 40px;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    cursor: pointer;
}

/*PLACEHOLDER*/

input::placeholder {
    color: rgb(144, 141, 141);
  }

  
placeholder{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*FOOTER*/

footer{
    bottom: 0;
    width: 100%;
    z-index: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
    margin-top: 2em;
}
  
.logo2{
    margin-top: 17px;
    width: 50px;
    margin-bottom: 15px;
}

.enfase{
    color: #eb6d59;
}

  